/* pagina mural */
*{
  text-decoration: none;
}

body {
  /* font-family: "Exo 2", sans-serif;*/
  margin: 0; 
}
.img_albion{
  width: 90px;
  
}
.href{
  color: #000000;
  text-decoration: none;
}
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */ 
  color: rgb(0, 0, 0);
  /* font-family: "Exo 2", sans-serif; */
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
   border-radius: 5px rgb(165, 39, 39)
}


.dash-right .avisos .container .div-form {
  width: 90%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 90%;
}

.dash-right .avisos .div-form label {
  width: 90%;
  
}

.dash-right .avisos .div-form input {
  width: 90%;
  border-radius: 5px rgb(165, 39, 39)
}

.dash-right .avisos .div-form textarea {
  width: 90%;
  border: 3px solid rgb(165, 39, 39);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(165, 39, 39);
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #ff0000;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgb(255, 123, 0);
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 300px;
background-color: rgb(165, 39, 39);
  flex-direction: column;
  /* height: 100px; */

}


.div-results .feed-container {
  /* color:rgb(165, 39, 39); */
  background-color: rgb(165, 39, 39);
  border-radius: 5px;
  margin-bottom: 80px;
  width:auto ;
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  flex-direction: column;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #0707f8;
}
.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
    height: 110px;
  width: 100%;
  background-color:rgb(165, 39, 39);
}

.dash {
  width: 90%;
  /* position: center; */
  /* top: 0; */
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff86;
  height: auto;
  /* overflow: auto; */
  align-items: center;
  
}

.regua {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width:auto;
  margin-top: 30px;
  height: auto;
}

.perigo-frio {
  background-color: #5c6bc0;
  display: auto;
  width: 1000px;
  height: 100px;
  flex-direction: row-reverse;
}

.perigo-quente {
  background-color: #ff7043;
  width: 100;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}
.h3Fazenda{
  color: white;
}
.h3Grafico{
  color: rgb(0, 0, 0);
}
.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  direction: s;
}

.graph {
  width: 50%;
  margin: auto;
  padding-top: 10px;
  height: 30%;
}

.tituloGraficos {
  color: rgb(165, 39, 39);
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e64900;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: rgb(165, 39, 39)
}

.btn-white {
  color: rgb(165, 39, 39);
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
.janela{
  background: url("../background\ grafico.jpg");
  background-size: cover;
  width: 100%;
  /* display: flex; */
  height: 100vh;

}



.card2{
  display: flex;
  justify-content: space-around;
}
.titulo_card{
width: 15%;
}
.subtitulo_card{
width: 15%;
}
.texto_card{
  width: 60%;
}
.paidoQuiz{
  width: 100ch;
  background-color: #ffffff6b;
  height: 45ch;
  display: flex;
  justify-content: center;
  direction: column;
  flex-direction: column;
  margin-left: 35ch;
  margin-top: 10ch;
}
.tituloQuiz{
color: rgb(0, 0, 0);
align-content: center;
justify-content: space-evenly;
display: flex;
font-size: xx-large;

}
.tituloQuiz:hover{
  transform: scale(1.1);
  transition: all 0.2 s;
}
.tituloQuizPergunta{
  color: rgb(0, 0, 0);
  align-content: center;
  justify-content: space-evenly;
  display: flex;
  font-size: x-large;
}
.tituloQuizOpcoes{
  color: rgb(0, 0, 0);
  align-content: center;
  justify-content: space-evenly;
  display: flex;
  font-size: large;
}
.tituloQuizDiv{
  color: rgb(0, 0, 0);
  align-content: center;
  justify-content: space-evenly;
  display: flex;
  font-size:large;
}